// variables

$screen-sm: 600px;
$screen-md: 1024px;
$screen-lg: 1280px;
$screen-hd: 1440px;

body {
  padding: 10px 5px;
  margin: 0;
  font-family: sans-serif;
  background: lightgrey;

 font-family: "Helvetica Neue", "Helvetica-Neue", "Arial", sans-serif;
}

* {
  box-sizing: border-box;
}

#shots-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

figure {
  margin: auto;
  padding: 0;
}

.shot {
  position: relative;
  margin-bottom: 10px;
  align-self: center;
  border-radius: 4px;
  overflow: hidden;

  width: calc(100% - 5px * 2);

  @media only screen and (min-width: $screen-sm) {
    width: calc(100% / 2 - 5px * 3);
  }

  @media only screen and (min-width: $screen-md) {
    width: calc(100% / 3 - 5px * 4);
  }

  @media only screen and (min-width: $screen-lg) {
    width: calc(100% / 4 - 5px * 5);
  }

  @media only screen and (min-width: $screen-hd) {
    width: calc(100% / 5 - 5px * 6);
  }
  .shot-overlay {
    opacity: 0;
    transition: all .2s ease-in;
  }

  &:hover {
    .shot-overlay {
      display: flex;
      opacity: 1;
      transition: all .2s ease-out;
    }
  }

  img {
    width: 100%;
    border-radius: 4px;
  }
}

.shot-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 3px; //not sure, must be <figure> bug or something
  left: 0;

  border-radius: 4px;

  color: white;
  text-align: center;

  background-image:
    radial-gradient(
      circle farthest-corner,
      rgba(0,0,0, .2),
      rgba(0,0,0, .25),
      rgba(0,0,0, .4)
    );

  display: flex;
  flex-direction: column;

  hr {
    margin: 0;
    padding: 0;
    border: none;
    height: 2px;
    background-color: white;
  }
}

.shot-overlay-text {
  margin: auto;
  align-self: center;
  width: 80%;

  h2.shot-title {
    margin: 0;
    margin-bottom: 5px;
  }

  p.shot-author {
    margin: 0;
    margin-top: 5px;
    font-style: italic;
  }

  hr {
    max-width: 120px;
    margin: auto;
  }
}

.shot-overlay-cta {
  align-self: center;
  margin-bottom: 30px;

  button {
    text-align: center;
    cursor: pointer;
    color: white;
    background-color: transparent;
    box-sizing: border-box;
    border-radius: 20px;
    border: medium medium;
    height: 40px;
    padding: 0 30px;
    font-size: 16px;
    line-height: 40px;
    border: 1px solid rgba(255,255,255, .5);
  }
}
